{% extends "addatabase.html" %}
{% block search %}
<form action="/adapp/showdist/" method="post">
        {% csrf_token %}
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="专业号搜索" name="mno" aria-describedby="button-addon2">
    <input type="submit" class="btn btn-primary" value="搜索">
</div>
</form>
{% endblock %}
{% block tablehead %}
    <th>姓名</th>
    <th>性别</th>
    <th>宿舍楼</th>
    <th>专业号</th>
    <th>班级</th>
    <th>学号</th>
    <th>宿舍号</th>
    <th>编辑</th>
{% endblock %}
{% block tablebody %}
    {% for publisher_obj in showdist_obj_list %}
        <tr>
            <td >{{ publisher_obj.w_name }}</td>
            <td >{{ publisher_obj.w_sex }}</td>
            <td>{{ publisher_obj.w_dorm}}</td>
            <td>{{ publisher_obj.w_mno }}</td>
            <td>{{ publisher_obj.w_class }}</td>
            <td>{{ publisher_obj.w_ano }}</td>
            <td>{{ publisher_obj.w_dno }}</td>
            <td>
                <a href="/adapp/showdist_go/?id={{ publisher_obj.w_no }}" class="btn btn-primary">修改</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block ltitle %}
    <h3>学生信息</h3>
{% endblock %}