<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/adapp/showdist_update/" method="post">
    {% csrf_token %}
    <p><label>身份证号</label><input name="id" value="{{ u }}"/><p/>
    <p><label>班级</label><input name="class"/><p/>
    <p><label>学号</label><input name="ano"/><p/>
    <p><label>宿舍号</label><input name="dno"/><p/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>