{% extends "adbase.html" %}
{% block title %}
    <title>专业信息</title>
{% endblock %}
{% block content %}
<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8"></div>

                        <div class="col-md-4">

                            <form action="/adapp/publish/" method="post">
                                    {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control" placeholder="专业号搜索" name="mno" aria-describedby="button-addon2">
                                <input type="submit" class="btn btn-primary" value="搜索">
                            </div>
                            </form>

                        </div>

                    </div>


                </div>
                <div class="card-content">
                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>

                                    <th>专业号</th>
                                    <th>专业名</th>
                                    <th>男生宿舍楼</th>
                                    <th>女生宿舍楼</th>
                                    <th>学费</th>
                                    <th>编辑</th>

                                </tr>
                            </thead>
                            <tbody>

                                {% for publisher_obj in publisher_obj_list1 %}
                                <tr>
                                    <td>{{ publisher_obj.w_mno }}</td>
                                    <td>{{ publisher_obj.w_mname}}</td>
                                    <td>{{ publisher_obj.w_dorm }}</td>
                                    <td>{{ publisher_obj.w_dorm2 }}</td>
                                    <td>{{ publisher_obj.w_fee }}</td>
                                    <td>
                                        <a href="/adapp/update_publish/?id={{ publisher_obj.w_mno }}" class="btn btn-primary">
                                                修改
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <form action="/adapp/finishdorm/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="上传学生表格"/>
        </form>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
{% block ltitle %}
    <h3>专业信息</h3>
{% endblock %}