<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员注册</title>

    <link rel="stylesheet" href="/static/bootstrap/css/freestyle.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- Form-->
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>注册</h1>
            </div>
            <div class="form-content">
                <form action="/adapp/register/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" id="username" name="w_adno" required="required" />
                    </div>
{#                    <div class="form-group">#}
{#                        <label for="username">申请类型</label>#}
{#                        <input type="text" id="name" name="w_type" required="required" />#}
{#                    </div>#}
                    <div class="form-group">
                        <input type="radio" value="1" name="w_type">类型1
                        <input type="radio" value="2" name="w_type">类型2
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" id="password" name="w_pass" required="required" />
                    </div>
                    <div class="form-group">
{#                        <input type="submit" value="提交"/>#}
                        <button type="submit">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{#    <script src='../static/bootstrap/js/jquery.min.js'></script>#}
{##}
{#    <script src="../static/bootstrap/js/script.js"></script>#}
</body>
</html>

