{% extends "adbase.html"%}
{% block content %}
<section class="section">
    <div class="card">
        <div class="card-header">
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="/adapp/show_information/" method="post">
                            {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control" placeholder="按学号查找" required="required" name="id" aria-describedby="button-addon2">
                        <input type="submit" class="btn btn-primary" value="搜索">
                    </div>
                    </form>
                    {{ error_msg }}
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block ltitle %}
    <h3>搜索学生</h3>
{% endblock %}