<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>父模板</title>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/static/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <img src="/static/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">菜单</li>

                        <li class="sidebar-item active ">
                            <a href="../showinfor" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>基本信息</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="../showinformation" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>详细信息</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="../showrp_list/" class='sidebar-link'>
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>奖惩信息</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="../showtotal_list/" class='sidebar-link'>
                                <i class="bi bi-basket-fill"></i>
                                <span>缴费信息</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                {% block ltitle %}
                <h3>Profile Statistics</h3>
                {% endblock %}
            </div>
{#            填充内容#}
            {% block content %}{% endblock %}

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://www.bootstrapmb.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="/static/assets/js/pages/dashboard.js"></script>

    <script src="/static/assets/js/main.js"></script>
</body>

</html>