{% extends "base.html" %}
{% block title %}
    <title>奖惩信息</title>
{% endblock %}
{% block content %}
<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">获奖情况</h4>
                </div>
                <div class="card-content">
                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>奖项名称</th>
                                    <th>奖项等级</th>
                                    <th>奖项</th>
                                    <th>主办方</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for publisher_obj in reward_list %}
                                <tr>
                                    <td >{{ publisher_obj.w_date }}</td>
                                    <td>{{ publisher_obj.w_thing}}</td>
                                    <td>{{ publisher_obj.w_rl}}</td>
                                    <td>{{ publisher_obj.w_rename}}</td>
                                    <td>{{ publisher_obj.w_organ}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">处分情况</h4>
                </div>
                <div class="card-content">
                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>处分级别</th>
                                    <th>概述</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for publisher_obj in punish_list %}
                                <tr>
                                    <td class="sorting_1">{{ publisher_obj.w_date }}</td>
                                    <td>{{ publisher_obj.w_pl}}</td>
                                    <td>{{ publisher_obj.w_thing}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form action="/polls/applyreward/" method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="申请增加奖项信息"/>
</form>
{% endblock %}
{% block ltitle %}
    <h3>{{ x }}</h3>
{% endblock %}