<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>{{ x }}的获奖情况</p>
<table class="table table-dark table-striped shadow-dark">
    <thead>
        <tr role="row" class="odd">
            <th class="sorting_asc" tabindex="0"
                aria-controls="default-datatable" rowspan="1" colspan="1"
                aria-sort="ascending"
                aria-label="Name: activate to sort column descending"
                style="width: 140px;
                       font-size:17px">
                <p>日期</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 225px;font-size:17px"><p>奖项名称</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 101px;font-size:17px"><p>奖项等级</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 101px;font-size:17px"><p>奖项</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 26px;font-size:17px"><p>主办方</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for publisher_obj in reward_list %}
        <tr role="row" class="odd">
            <td class="sorting_1">{{ publisher_obj.w_date }}</td>
            <td>{{ publisher_obj.w_thing}}</td>
            <td>{{ publisher_obj.w_rl}}</td>
            <td>{{ publisher_obj.w_rename}}</td>
            <td>{{ publisher_obj.w_organ}}</td>
        </tr>
        {% endfor %}


    </tbody>

</table>
<p>{{ x }}的处分情况</p>

<table class="table table-dark table-striped shadow-dark">
    <thead>
        <tr role="row" class="odd">
            <th class="sorting_asc" tabindex="0"
                aria-controls="default-datatable" rowspan="1" colspan="1"
                aria-sort="ascending"
                aria-label="Name: activate to sort column descending"
                style="width: 140px;
                       font-size:17px">
                <p>日期</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 225px;font-size:17px"><p>处分级别</p>
            </th>
            <th class="sorting" tabindex="0" aria-controls="default-datatable"
                rowspan="1" colspan="1"
                aria-label="Name: activate to sort column descending"
                style="width: 101px;font-size:17px"><p>概述</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for publisher_obj in punish_list %}
        <tr role="row" class="odd">
            <td class="sorting_1">{{ publisher_obj.w_date }}</td>
            <td>{{ publisher_obj.w_pl}}</td>
            <td>{{ publisher_obj.w_thing}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<form action="/adapp/finishdorm/" method="post">
    {% csrf_token %}
    <input type="submit" value="完成工作"/>
</form>
</body>
</html>