{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ x }}的缴费情况</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <p>应交：{{ total_list.w_amount1 }}</p>
                <p>实交：{{ total_list.w_amount2 }}</p>
                <p>需补交：{{ y }}</p>
            </div>
        </div>
    </div>
</section>
<form action="/polls/upam/" method="post" >
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="缴费"/>
</form>
{% endblock %}
{% block ltitle %}
    <h3>缴费情况</h3>
{% endblock %}