{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="card">
        <div class="card-body">
            <form action="/polls/finupam/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="helperText">缴费金额:</label>
                    <input type="number" id="helperText" name="am" class="form-control" placeholder="Number">
                    <p><small class="text-muted">选择你要缴费的金额.</small>
                    </p>
                </div>
                <input class="btn btn-primary" type="submit" value="提交"/>
            </form>
        </div>
    </div>
</section>
<form action="/polls/showrecord/" method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="查看记录"/>
</form>
{% endblock %}
{% block ltitle %}
<h3>缴费</h3>
{% endblock %}